env.json
.env
.env.local
.env.test
.DS_Store
yarn-error.log
node_modules/
cache/
.yarn/
.pnp.cjs
.pnp.loader.mjs
.vscode/
.zkcloudworker/
vk/
docs/presentation.md
mainnet-verification-keys.json
testnet-verification-keys.json
coverage/
data/
config.ts
